<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>管理者ログイン</title>
<link rel="stylesheet" th:href="@{/css/common.css}">
<link rel="stylesheet" th:href="@{/css/admin-login.css}">

</head>
<body>
	<div class="container">

		<h2>管理者ログイン</h2>
		<form action="/adminLogin" method="post" autocomplete="off">

			<input type="text" name="id" placeholder="管理者ID" autocomplete="off"
				required>

			<div class="password-box">

				<input type="password" id="pass" name="password" placeholder="パスワード"
					autocomplete="new-password" required>

				<button type="button" onclick="togglePass()">👁</button>

			</div>

			<button type="submit" class="btn admin">管理者ログイン</button>

			</form>

			<!-- 🔽 ここ追加 -->
			<a href="/list?keyword" class="home-btn">🏠 ホームに戻る</a>
	</div>

	<script>
function togglePass() {
    const p = document.getElementById("pass");
    p.type = (p.type === "password") ? "text" : "password";
}
</script>

</body>
</html>